**/Android/ARM/
**/Build/UWP/StaticDebug/
**/Build/UWP/StaticRelease/
**/Build/UWP/StaticReleaseTools/
projects/**/Android/assets/**
projects/**/TmpRessources/**
**/Ressources/AMLastDone.json
projects/TwitterAnalyser/Android/Cache/**
projects/TwitterAnalyser/Android/TwitterAnalyser.exe.WebView2/**
projects/TwitterAnalyser/Android/WebScraper.dll
projects/TwitterAnalyser/Android/WebScraperD.dll
projects/TwitterAnalyser/Android/WebView2Loader.dll
**/*.bak
**/*.*.bak