**/Android/ARM/
projects/**/Android/assets/**
projects/**/TmpRessources/**
**/Ressources/AMLastDone.json
projects/TwitterAnalyser/Android/Cache/**
projects/TwitterAnalyser/Android/TwitterAnalyser.exe.WebView2/**
